
		header{
			padding: 10pxl;
			background-color: green;
			color: white;
			text-align: left;
			cursor: pointer;
		}
		nav ul li{
			display: inline;
			padding: 10px;
			background-color: white;}
	nav a:hover{
		background-color: blue;
		color: white ;}
	form input {
		text-transform: uppercase;
	}
	nav div{
		display: inline;
	}
	footer {
		background-color: green;
		color: white;
		text-align: center;
	}

